
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(74, 59, 132);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(95, 95, 181);
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


nav ul li a:hover {
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background: #020114;
    height: 1.2px;
    margin: 20px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 110px 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.leftsection {

    font-size: 3rem;
}

.Rightsection {
    float: right;
}

.Rightsection img {

    height: 500px;
    width: 400px;
    border-radius: 1000px;
    margin-left: 180px;

}

.Rightsection .name {
    margin: 10px 230px;
    font-size: 30px;
    align-items: center;
}

.Rightsection a {

    text-decoration: none;
    color: white;
    margin-left: 110px;


}
.purple {
    color: rgb(155, 74, 231);
}

#element {
    color: rgb(155, 74, 231);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: grey;

}
